@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.embla__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #052c42;
  border-radius: 8px;
}
