@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}
.transform-3d {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -140px) rotateX(121deg);
}
.perspective {
  perspective: 300px;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;

  &:hover {
    .shadow-bounce::before {
      animation-play-state: paused;
    }
  }
}

.shadow-bounce {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 30px);

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 4rem;
    content: '';
    display: block;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.327);
    transform: translateZ(-29px);
    animation: bounce-shadow 2.5s infinite;
  }
}

@keyframes bounce-shadow {
  from,
  to {
    transform: translateZ(-9px) translateY(5%) scale(0.9);
    opacity: 0.3;
  }
  50% {
    transform: translateZ(-9px) scale(1.3);
    opacity: 1;
  }
}

.image-bounce {
  animation: bounce 2.5s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-5%);
    }
    50% {
      transform: none;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

.work-card {
  .card-border,
  &::before {
    opacity: 0;
    transition: opacity 500ms;
    content: '';
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &::before {
    background: radial-gradient(
      800px circle at var(--border--x) var(--border--y),
      rgba(0, 0, 0, 0.002),
      transparent 40%
    );
    z-index: 3;
  }
  &:hover {
    .card-border,
    &::before {
      opacity: 1;
    }
  }

  > .card-content {
    border-radius: inherit;
    margin: -4px;
    position: relative;
    z-index: 5;
  }

  .card-border {
    background: radial-gradient(500px circle at var(--border--x) var(--border--y), #052c42, transparent 40%);
    z-index: 1;
  }
}

// ======MISCELLANEOUS=========

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #052c42;
  border-radius: 8px;
}

::selection {
  color: white;
  background: #052c42;
}

svg text,
svg circle {
	stroke-width: 2;
	font-size: 5rem;
	letter-spacing: -4px;
}

svg text.text-body,
svg circle {
	stroke: var(--loader-text-color);
	fill: transparent;
	animation: anime-stroke 3s infinite alternate;
}

@keyframes anime-stroke {
	0% {
		fill: transparent;
		stroke: var(--loader-text-color);
		stroke-width: 2;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 32%;
	}

	50% {
		fill: transparent;
		stroke: var(--loader-text-color);
		stroke-width: 2;
	}

	80%,
	100% {
		fill: var(--loader-text-color);
		stroke: transparent;
		stroke-width: 0;
		stroke-dashoffset: -25%;
		stroke-dasharray: 32% 0;
	}
}