@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.perspective {
  perspective: 1000px;
}

.image-bounce {
  animation: bounce 2s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-5%);
    }
    50% {
      transform: none;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #052c42;
  border-radius: 8px;
}

::selection {
  color: white;
  background: #052c42;
}
